<% for entry in @entries %>
  <div class="entry">
    <a class="highslide photo" href="<%= entry.photo.url(:large) %>" >
      <img class="thumb" src="<%= entry.photo.url(:thumb) %>" alt="<%= entry.title %>" />
    </a>
    
    <div class="highslide-caption">
      <strong><%= entry.title %></strong> by <a class="photog" href="<%= entry.photog_link %>"><%= entry.photog %></a>
      <p>
        <%= entry.desc %>
      </p>
      (<%= entry.votes_for %> votes total)
    </div> <!-- #highslide-caption -->

    <br />
    <div class="caption" >
      <span class="title">
        <%= entry.title %> by <a class="photog" href="<%= entry.photog_link %>"><%= entry.photog %></a>
      </span>
      <span class="vote">
        (<%= entry.votes_for %> votes total)
      </span>
    </div> <!-- #caption -->
  </div> <!-- #entry -->
<% end -%>

<!--
<div class="bottom_links">
  <%= link_to "New Entry", new_entry_path %>
</div>
-->