<% for entry in @entries %>
  <div class="entry">
    <h3><%=h entry.title %> (votes: <%= entry.votes_for %>)</h3>
    <%= image_tag entry.photo.url(:thumb), :height => "113px" %><br />
    <span class="show_link"><%= link_to "Show", entry %></span>
    <span class="edit_link"><%= link_to "Edit", edit_entry_path(entry) %></span>
    <span class="vote">
      <%= link_to "vote", :controller => "entries", :action => "vote", :id => entry.id %>
    </span>
  </div>
<% end -%>

<div class="bottom_links">
  <%= link_to "New Entry", new_entry_path %>
</div>
