<head>
  <%= stylesheet_link_tag "site" %>
  <%= javascript_include_tag "jquery-1.3.2", "site" %>
</head>
<div id="flash">
  <% flash.each do |key, value| -%>
    <div id="flash_<%= key -%>"><%= html_escape(value) %></div>
  <% end -%>
</div>
<%= yield %>
<br /><br />